$primary: #c32c72;
$light: #f4f3ee;
$tablet-width: 1200px;

$colors: (
    primary: $primary,
    light: $light,
    white: #fff,
    bg-body: #e5e5e5,
    lightgrey: #8D8D8D,
);

@function myColor($color) {
    @return map-get($colors, $color);
};

$font-family-sans-serif: "Open Sans", sans-serif;
$font-secondary: 'Archivo Narrow', sans-serif;





